---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "自我介绍";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["python", "RAG"];

const expect = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
h1 {
    color: purple;
    font-size: 4rem;
}
.skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
}
</style>

<BaseLayout pageTitle={pageTitle}>
    
    <h2>终身学习，让身边的人生活更加幸福!</h2>

    <p>我是侯金冰，目前在南京 <a href="https://polixir.ai/">南栖仙策（南京）科技有限公司<a/> 工作，职位是机器学习工程师，负责大语言模型应用相关技术。曾就读于<a href="https://www.bupt.edu.cn/">北京邮电大学<a/>，并于2024年获得计算机科学与技术硕士学位。研究生期间主要从事开放世界决策相关课题研究。</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <p>Here are a few facts about me:</p>
    <ul>
    <li>日常运动：跑步</li>
    <li>有过的爱好：骑行、滑板</li>
    <!-- {
        identity.hobbies.length >= 3 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    } -->
    </ul>
    <p>技能:</p>
    <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {expect && <p>Doing: 学习系统性思考中...</p>}

    {finished && <p>Done: 阅读《第五项修炼》--彼得·圣吉</p>}

</BaseLayout>