---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <div class="nav-container">
      <Hamburger />
      <Navigation />
      <ThemeIcon />
    </div>
  </nav>
</header>