---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--color-text);
    text-decoration: underline;
    transition: opacity 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
  }
</style>